<ng-template [ngIf]="ctrl" [ngIfElse]="else_ctrl">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 asas">
      <div class="card">
        <form class="box" [formGroup]="profileForm" (ngSubmit)="onSubmit()">         
          <div class="card-body">
            <h5 class="card-title">produto 1</h5>
  
            <label>nome</label>
            <input disabled formControlName="nome" value="{{produto_nome}}" type="text" name="nome"> 
            
            <label>sCepOrigem</label>
            <input formControlName="sCepOrigem" value="" type="text" name="sCepOrigem" placeholder="cep de origem"> 
            
            <label>sCepDestino</label>
            <input formControlName="sCepDestino" value="" type="text" name="sCepDestino" placeholder="cep de destino"> 
            
            <label>nCdServico</label>
            <input formControlName="nCdServico" value="" type="text" name="nCdServico" placeholder="tipo de serviço"> 
            
            <label>nCdFormato</label>
            <input formControlName="nCdFormato" value="" type="text" name="nCdFormato" placeholder="nCdServico"> 
            
            <label>nVlComprimento</label>
            <input formControlName="nVlComprimento" value="" type="text" name="nVlComprimento" placeholder="nCdServico"> 
          
            <label>nVlAltura</label>
            <input formControlName="nVlAltura" value="" type="text" name="nVlAltura" placeholder="nCdServico"> 
            
          </div>
        </form>
      </div>
    </div>
    
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 asas">
      <div class="card">
        <form class="box" [formGroup]="profileForm" (ngSubmit)="onSubmit()">         
          <div class="card-body">
  
            <label>nVlLargura</label>
            <input formControlName="nVlLargura" value="" type="text" name="nVlLargura" placeholder="nCdServico"> 
            
            <label>nVlPeso</label>
            <input formControlName="nVlPeso" value="" type="text" name="nVlPeso" placeholder="nCdServico"> 
            
            <label>nVlDiametro</label>
            <input formControlName="nVlDiametro" value="" type="text" name="nVlDiametro" placeholder="nCdServico"> 
            
            <label>nVlValorDeclarado</label>
            <input formControlName="nVlValorDeclarado" value="" type="text" name="nVlValorDeclarado" placeholder="nCdServico"> 
            
            <label>sCdAvisoRecebimento</label>
            <input formControlName="sCdAvisoRecebimento" value="" type="text" name="sCdAvisoRecebimento" placeholder="nCdServico"> 
            
            <label>sCdMaoPropria</label>
            <input formControlName="sCdMaoPropria" value="" type="text" name="sCdMaoPropria" placeholder="nCdServico"> 
  
            <div style="margin-top: 39px;">
              <button class="button" type="submit"><span>calcular</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #else_ctrl>
  <div id="modelo" class="card" style="width: 18rem;">

      <label>Valor</label>
      <input disabled type="text" value="{{result[0].Valor}}" class="form-control">
      
      <label>ValorAvisoRecebimento</label>
      <input disabled type="text" value="{{result[0].ValorAvisoRecebimento}}" class="form-control">
      <label>ValorMaoPropria</label>
      <input disabled type="text" value="{{result[0].ValorMaoPropria}}" class="form-control">
      <label>ValorSemAdicionais</label>
      <input disabled etype="text" value="{{result[0].ValorSemAdicionais}}" class="form-control">
      <label>ValorValorDeclarado</label>
      <input disabled type="text" value="{{result[0].ValorValorDeclarado}}" class="form-control">
  
      <label>EntregaSabado</label>
      <input disabled type="text" value="{{result[0].EntregaSabado}}" class="form-control">
      
      <label>EntregaDomiciliar</label>
      <input disabled type="text" value="{{result[0].EntregaDomiciliar}}" class="form-control">
      
      <label>PrazoEntrega</label>
      <input disabled type="text" value="{{result[0].PrazoEntrega}}" class="form-control">
      
    </div>
</ng-template>